body{
	background-color: #e3e9ec;
}

#begin {
	/*background-color: #0470EB;*/
	background-color: #182949;
	text-align: center;
	width: 100%;
}


#title {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	padding-top: 7px;
}

.begin_pict {
	width: 100px;
	height: 200px;
}

#introduction_text {
	text-align: center;
	width: 50%;
	padding-left: 25%;
	font-family: 'Roboto', sans-serif;
}

#tabs{
	width: 100%;
	text-align: center;
}

ul{
    display: inline;
    text-align: center;
    
    margin-right: 3%;
    
}

ul li{
    display: inline-block;
    /*border-style: solid;*/
    width: 30%;
    border-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*margin-right: 50px;*/
}


#Supermarché{
	background-color: #29639D;
	border-color: #29639D;
}

#King{
	background-color: #C92618;
	border-color: #C92618;
}

#Soggy{
	background-color: #80B914;
	border-color: #80B914;
}

.tab_content{
	text-align: center;
	border-style: solid;
	border-width: 10px;
}

.product_pict{
	width : 50%;
	height: 30%;
}

#tab_supermarche{
	border-color: #29639D;
	border-radius: 5px;
}

#tab_king{
	border-color: #C92618;
}

#tab_soggy{
	border-color: #80B914;
}

.button{
	color: white;
	width: 100%;
	font-size: 20px;
	
}

input[type="button" i]:focus {
	outline: none;
}

#doc{
	position: fixed;
	bottom: 3px;
	left: 37%;
	width: 25%;
	border-color: red;
	border-style: solid;
	text-align: center;
}