body{
	background-color: #e3e9ec;
}

#begin {
	/*background-color: #0470EB;*/
	background-color: #182949;
	text-align: center;
	width: 100%;
}


#title {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	padding-top: 7px;
}

.begin_pict {
	width: 100px;
	height: 200px;
}

#introduction_text {
	text-align: center;
	width: 50%;
	padding-left: 25%;
	font-family: 'Roboto', sans-serif;
}

#tabs{
	width: 100%;
	text-align: center;
}

ul{
    display: inline;
    text-align: center;
    
    margin-right: 3%;
    
}

ul li{
    display: inline-block;
    /*border-style: solid;*/
    width: 30%;
    border-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*margin-right: 50px;*/
}


#Supermarché{
	background-color: #29639D;
	border-color: #29639D;
	font-family: 'Roboto', sans-serif;
}

#King{
	background-color: #C92618;
	border-color: #C92618;
}

#Soggy{
	background-color: #80B914;
	border-color: #80B914;
}

.tab_content{
	text-align: center;
	border-style: solid;
	border-width: 10px;
}

.product_pict{
	width : 50%;
	height: 30%;
}

#tab_supermarche{
	border-color: #29639D;
	border-radius: 5px;
}

#tab_king{
	border-color: #C92618;
}

#tab_soggy{
	border-color: #80B914;
}

.button{
	color: white;
	width: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 4px;
}

.add_button{
	background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 3px;
    padding-top: 3px;
}

input[type="button" i]:focus {
	outline: none;
}

input[type="add_button" i]:focus {
	outline: none;
}

#additionnal_buttons{
	text-align: center;
	width: 100%;
	margin-top: 10px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  font-family: 'Roboto', sans-serif;
}